<div class="row col-lg-8">
  <div class="col-lg-2 col-md-offset-2" style="background-color: #3FA9D7">
    <button (click)="swapRoutes()">Swap</button>
  </div>
  
  <div class="columns">
    <md-card style="background-color: #00CB5F">
      <router-outlet name="primary" (activate)="onActivate($event)"></router-outlet>
    </md-card>
    <md-card style="background-color: #c0bd69">
      <router-outlet name="secondary"></router-outlet>
    </md-card>
  </div>
</div>
