@import "../styles";

.app-main {
  /*background-image: url('../assets/images/NoiseBGTileSm.png');
  background-repeat: repeat;*/

  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  z-index: 1000;
  background-color: $background;
}
