.body-copy {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  font-family: $font-nunito;
}

.custom {
  color: red;
}

.paragraph-copy {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  font-family: $font-nunito;
}

.title {
  font-size: 34px;
  font-weight: lighter;
  line-height: 40px;
  font-family: $font-montserrat;
}

.h1 {
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  font-family: $font-montserrat;
}

.h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  font-family: $font-montserrat;
}

.h3 {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  font-family: $font-montserrat;
}

/*
a {
        padding: 10px 40px;
        cursor: pointer;
        background: gray;

        &:hover {
          background: blue;
          color: white;
          font-size: 700;
        }
 */

.links {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: $brand-text;
  font-family: $font-montserrat;
  cursor: pointer;
  text-decoration: underline;

  a {
    background: transparent;


    &:hover {
      text-decoration: none;
      color: $brand-base;
    }
    &:active {
      text-decoration: none;

      color: $brand-darkest;
    }
  }

}

.body-copy {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: $primary;
}

.err-text {
  font-size: 10px;
  color: $error-text;
}