@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito');
// Fonts
$font-montserrat: 'Montserrat', sans-serif;
$font-nunito: 'Nunito', sans-serif;



//== Colors
// standard color pallet

// Brand colors
$brand-text: #0276A4;
$brand-darkest: #0276A4;
$brand-darker: #0679A7;
$brand-dark: #238FBD;
$brand-base: #0094CD;
$brand-light: #3FA9D7;
$brand-lighter: #C3DDE9;
$brand-lightest: #CFE9F5;
$brand-bright: #E4F2F9;
$brand-shadow: #74909B;

// Success colors
$success-text: #017F3C;
$success-darkest: #03A14C;
$success-darker: #08A4F4;
$success-dark: #26BA66;
$success-base: #00CB5F;
$success-light: #43D480;
$success-lighter: #C5E8D4;
$success-lightest: #D1F4E0;
$success-bright: #E8F9EF;
$success-shadow: #749B86;

// Error colors
$error-text: #C43844;
$error-darkest: #A42F39;
$error-darker: #A7323C;
$error-dark: #BD48F2;
$error-base: #CD3B47;
$error-light: #D7626C;
$error-lighter: #E9CCCE;
$error-lightest: #F5D8DA;
$error-bright: #F9EBEC;
$error-shadow: #9B7F81;

// Warning colors
$warning-text: #7F6C00;
$warning-darkest: #BFA306;
$warning-darker: #C6A20C;
$warning-dark: #D8BC2D;
$warning-base: #EFCC00;
$warning-light: #F2D64A;
$warning-lighter: #EFE9C7;
$warning-lightest: #FBF5D3;
$warning-bright: #FDF9E8;
$warning-shadow: #9B9576;

// Accent colors
$accent-text: #913EB7;
$accent-darkest: #8E3BE4;
$accent-darker: #913EB7;
$accent-dark: #A754CE;
$accent-base: #B249E2;
$accent-light: #C16FE8;
$accent-lighter: #E3CFED;
$accent-lightest: #EFDBF9;
$accent-bright: #F7EDFB;
$accent-shadow: #93819B;

// Neutral Grey Tones
$white: #FFFFFF;
$grey-97: #F7F7F7;
$background: #F0F0F0;
$grey-89: #E2E2E2;
$grey-83: #D4D4D4;
$grey-78: #C6C6C6;
$disabled: #B8B8B8;
$shadow: #9C9C9C;
$grey-50: #7F7F7F;
$secondary: #636363;
$grey-28: #474747;
$primary: #2B2B2B;
$grey-6: #0F0F0F;

// Status colors
$status-red: $error-light;
$status-yellow: $warning-light;
$status-green: $success-light;